main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-content: center;
	padding: 1rem 20%;
}

#welcome {
	width: 100%;
	padding: 4vh 4vw;
	font-size: 1.5rem;
	text-align: center;
}

section {
	display: inline-block;
	width: 100%;
	margin: var(--small);
	background-color: var(--white);
	border-radius: var(--small);
	padding: var(--small);
}

li > img {
	max-width: 100%;
}


td > img {
	height: 32px;
}

footer {
	position: fixed;
	text-align: right;
	bottom: 0;
	right: 0;
	font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
	main {
		padding: 1rem 10%;
	}
}
