header, main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem 6rem;
}

#terminal {
	border: 0.2rem solid var(--ctp-lavender);
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 100%;
}

#terminal > div {
	padding: 0 0.5rem;
	width: 100%;
}

div.terminal-header {
	background-color: var(--ctp-text);
	border-bottom: 0.2rem solid var(--ctp-text);
	color: var(--ctp-base);
}

.terminal-output {
	overflow-y: scroll;
}

div.terminal-output {
	height: 100%;
}

pre.terminal-output {
	word-break: break-all;
	white-space: pre-wrap;
}

div.terminal-input {
	display: flex;
	margin: 0.5rem 0;
}

input.terminal-input, button.terminal-input {
	background: transparent;
	border: 0.1rem solid var(--ctp-overlay0);
	padding: 0.2rem 0.5rem;
}

input.terminal-input {
	border-right-width: 0;
	width: 100%;
}

button.terminal-input {
	border-left-width: 0;
}

@media screen and (max-width: 800px) {
	header, main {
		margin: 1rem 2rem;
	}
}
