#greeting {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

section:not(#greeting) {
	margin: var(--huge-space);
	padding: var(--small-space);
	border: var(--tiny-space) solid var(--b-color);
	border-radius: var(--medium-space);
	background-color: var(--bg-hl-color);
}
