:root {
      --bg-color: #ffe3e3;
      --fg-color: #262a53;
      --h1-color: #ffa0a0;
	--h2-color: #628395;
	--small: 8px;
	--medium: 16px;
	--big: 32px;
	--huge: 64px;
}

*, ::before, ::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      border: none;
}

html {
      font-size: 24px;
      font-family: sans-serif;
}

body {
      background-color: var(--bg-color);
      color: var(--fg-color);
}

a, .highlighted {
	color: var(--h2-color);
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

li {
	padding-left: 1rem;
}

td {
	vertical-align: middle;
	padding: 0.2rem;
}

img {
	max-width: 100%;
}

@media screen and (max-width: 800px) {
	:root {
		--small: 4px;
		--medium: 8px;
		--big: 16px;
		--huge: 32px;
	}

	html {
		font-size: 12px;
	}
}
