:root {
      --bg-color: #fcd9e8;
      --fg-color: #314530;
      --h-color: #f76895;
	--white: #faf5f8;
	--red: #f58c8c;
	--small: 8px;
}

*, ::before, ::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      border: none;
}

html {
      font-size: 24px;
      font-family: sans-serif;
}

body {
      background-color: var(--bg-color);
      color: var(--fg-color);
}

a, .highlighted {
	color: var(--red);
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

li {
	padding-left: 1rem;
}

td {
	vertical-align: middle;
	padding: 0.2rem;
}

@media screen and (max-width: 800px) {
	:root {
		--small: 4px;
	}

	html {
		font-size: 12px;
	}
}
