:root {
	--fg-color: #dcdcdc;
	--bg-color: #2f2f2f;
	--b-color: #3f3f3f;
	--fg-hl-color: #ffff00;
	--bg-hl-color: #3f3f3f;
	--tiny-space: 2px;
	--small-space: 4px;
	--medium-space: 8px;
	--big-space: 12px;
	--huge-space: 32px;
}

@media (prefers-color-scheme: light) {
	:root {
		--fg-color: #0f0f0f;
		--bg-color: #fafafa;
		--b-color: #dedede;
		--fg-hl-color: #00c0c0;
		--bg-hl-color: #dedede;
	}
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 0;
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	word-break: break-word;
}

html {
	font-size: 16px;
}

body {
	color: var(--fg-color);
	background-color: var(--bg-color);
	font-size: 16px;
	font-family: sans-serif;
}

a {
	color: var(--fg-hl-color);
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

ul {
	padding-left: var(--big-space);
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 3.4rem;
	}

	h2 {
		font-size: 1.4rem;
	}
}
